<!DOCTYPE html>
<html>
<head>
<style>
body{height:100vh;margin:0;display:grid;place-items:center;background:#000}
h1{color:#4ade80;font-size:20px;transition:all 0.1s}
</style>
</head>
<body>
<h1 id="txt">Hello Animation!</h1>
<script>
const t=document.getElementById("txt");
let s=20,up=true;
function anim(){
  up?s+=0.4:s-=0.4;
  if(s>=60)up=false;if(s<=20)up=true;
  t.style.fontSize=s+"px";
  t.style.opacity=0.3+s/100;
  requestAnimationFrame(anim)
}
anim();
</script>
</body>
</html>
